<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<style>
</style>

<body>
    <div class="we">
        <div class="headshot headshot-1"></div>
        <div class="headshot numberCircle">{{ prediction }}</div>
        <div class="headshot headshot-3"></div>
    </div>
    <div class="body dark-background"
        style=" background-image: url(https://i.ibb.co/nrmkm7d/five-bells-washed-out-logo.png) , linear-gradient(to right, rgba(58, 61, 62, 1) 0%, rgba(58, 61, 62, 1) 100%);">
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">
                    <img class="corner-decoration corner-left-top"
                        src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                    <img class="corner-decoration corner-right-top"
                        src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                    <img class="corner-decoration corner-right-bottom"
                        src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                    <img class="corner-decoration corner-left-bottom"
                        src="https://i.ibb.co/4mKvK3N/corner-decoration.jpg"></img>
                    <img class="vertical-decoration top"
                        src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>
                    <img class="vertical-decoration bottom"
                        src="https://i.ibb.co/JRTK9z4/horizontally-centered-vertical-decoration.png"></img>

                    <!-- Page Content -->
                    <div class="container">
                        <div class="row social-row">
                            <a href="#" target="_blank" class="d-none"
                                style="background-image: url(https://i.ibb.co/k0JQYv4/instagram-social-button.png)"></a>

                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img class="logo" style="border-radius: 50%;" src="../static/images/epsilon.png"
                                    alt="Five Bells logo">
                                <h1 class="text-uppercase white-text countach">GP-EpsilonAI</h1>
                                <p class="lead skintone-text">
                                    <span class="name skintone-text countach"> NINJunior Rangers TEAM</span>
                                    <span class="place skintone-text tilda-petite">
                                        <span>
                                </p>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>